.banner {
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid white 2px;
  max-width: 100%;
}

.ruler {
  display: flex;
  justify-content: center;
  gap: 2em;
  background-color: #9b8dce;
  color: white;
  margin-top: 1em;
  width: 100%;
  font-size: large;
  padding: 1em 0em 1em 0em;
}

.iconContainer {
  display: flex;
  gap: 0.5em;
  text-align: center;
}

.rectBannerContainer {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 1em;
  padding: 1em;
}
.rectBannerBox {
  position: relative;
  height: 400px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 4px #a29cbb;
  box-shadow: 0 0 15px 5px rgba(94, 75, 139, 0.8), 0 0 25px 10px rgba(245, 154, 192, 0.5);
}

.content {
  position: absolute;
  z-index: 2;
  text-align: center;
  visibility: hidden;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.rectBannerBox:hover .content {
  visibility: visible;
  opacity: 1;
}

.rectBannerBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-out;
  transform-origin: center center;
}

.rectBannerBox::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgba(125, 120, 163, 0.7);
  transition: height 0.4s ease-out;
  z-index: 1;
}

.rectBannerBox:hover::before {
  height: 100%; /* Expand overlay on hover */
}
