.header {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    border: solid white 2px;
}