.header {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
    padding: 2.5em;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    margin: 0.5em;
}