.header {
    
    background-color: #686293;
    color: #F1B2AC;
    text-align: center;
    padding: 0.5em;
    margin-bottom: 1em;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    margin: 0.5em;
    text-align: center;
    align-items: center;
    text-decoration: underline;

}

.gengar {
    width: 105px;
}