.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
  width: fit-content;
  border: solid black;
  background: rgb(232, 232, 232);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgba(203, 194, 194, 0.3);
}

.pictureContainer {
  border-bottom: solid 2px black;
  padding: 1.5em;
  margin-bottom: 0.5em;
}

.titleBox {
    padding: 0.5em;
}

.title {
    color: black;
    padding: 1em;
}
.artist {
    font-style: italic;
    color: #7D78A3;
}

.btnBox {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  text-align: center;
  padding: 0.5em;
  gap: 0.5em;
}

.btn {
  font-size: 14px;
  height: 3rem;
}

